body,
div,
p,
a,
span,
img,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "PingFang SC", system-ui, -apple-system;
}

li {
  list-style: none;
}